[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pymalcolm = { editable = true, extras = ["dev"], path = "." }

[packages]
pymalcolm = { editable = true, path = "." }

[scripts]
# Put coverage here so we don't interfere with debugging in the IDE
tests = "python -m pytest --cov=malcolm --cov-fail-under=90 --cov-report term --cov-report xml --log-format='%(asctime)s.%(msecs)03d %(filename)-25s %(lineno)4d %(levelname)-8s %(message)s' --log-date-format='%Y-%m-%d %H:%M:%S' tests"
tests-no-cov = "python -m pytest tests"
docs = "sphinx-build -ET docs build/html"
flake8 = "flake8 malcolm tests --benchmark"
clean = "rm -rf docs/html prefix */__pycache__ .coverage cov.xml *.egg-info .mypy_cache .pytest_cache build/ docs/build"
